<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yb.actset.mapper.ActsetCksetMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="cksetResultMap" type="com.yb.actset.entity.ActsetCkset">
        <id column="id" property="id"/>
        <result column="as_type" property="asType"/>
        <result column="data_source" property="dataSource"/>
        <result column="leve" property="leve"/>
        <result column="is_used" property="isUsed"/>
        <result column="create_at" property="createAt"/>
    </resultMap>
</mapper>
