<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anaysis.mysqlmapper.BaseClassinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.anaysis.entity.BaseClassinfo">
        <id column="id" property="id" />
        <result column="dp_id" property="dpId" />
        <result column="bc_name" property="bcName" />
        <result column="bc_num" property="bcNum" />
        <result column="sort" property="sort" />
        <result column="ws_id" property="wsId" />
        <result column="is_used" property="isUsed" />
    </resultMap>

</mapper>

