<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anaysis.executSupervise.mapper.SuperviseExecuteMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="superviseExecuteResultMap" type="com.anaysis.executSupervise.entity.SuperviseExecute">
        <id     column="id" property="id"/>
        <result column="uuid" property="uuid"/>
        <result column="ma_id" property="maId"/>
        <result column="wb_id" property="wbId"/>
        <result column="sd_id" property="sdId"/>
        <result column="ready_num" property="readyNum"/>
        <result column="start_num" property="startNum"/>
        <result column="end_num" property="endNum"/>
        <result column="curr_num" property="currNum"/>
        <result column="start_time" property="startTime"/>
        <result column="exe_status" property="exeStatus"/>
        <result column="us_ids" property="usIds"/>
        <result column="update_at" property="updateAt"/>
        <result column="limit_time" property="limitTime"/>
        <result column="syslimit_time" property="syslimitTime"/>
    </resultMap>


    <select id="getExecutByBno" resultType="com.anaysis.executSupervise.entity.SuperviseExecute">
        SELECT *
        FROM yb_supervise_execute
        WHERE uuid = #{uuid}
    </select>

    <select id="getExecutList" resultType="com.anaysis.executSupervise.entity.SuperviseExecute">
        SELECT
            a.*, b.limit_time,
            b.syslimit_time,
            c.limit_num,
            c.limit_time as quality_time,
            c.model
        FROM
            yb_supervise_execute a
        LEFT JOIN yb_exeset_fault b ON b.ma_id = a.ma_id
        LEFT JOIN yb_exeset_quality c ON a.ma_id = b.ma_id
        WHERE  a.exe_status = #{status}
    </select>
    <select id="getExecutByMaid" resultType="com.anaysis.executSupervise.entity.SuperviseExecute">
        SELECT *
        FROM yb_supervise_execute
        WHERE ma_id = #{maId}
    </select>
    <select id="getOrderName" resultType="java.util.Map">
        SELECT
        c.od_name as odName,
        c.od_no as odNo
        FROM yb_workbatch_ordlink a
        LEFT JOIN yb_order_workbatch b ON a.wb_id = b.id
        LEFT JOIN yb_order_ordinfo c ON b.od_id = c.id
        WHERE a.id = #{sdId}
    </select>

    <update id="updateC1Byuuid" parameterType="com.anaysis.executSupervise.entity.SuperviseExecute">
        UPDATE yb_supervise_execute SET exe_status=#{exeStatus},event=#{event}, end_num=#{endNum},curr_num=#{currNum},
                                        es_id=#{esId},update_at= #{updateAt},start_time=#{startTime}
        WHERE uuid =#{uuid}
    </update>
</mapper>
