<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anaysis.sqlservermapper.FzCrmCustomerDao">
    <select id="list" resultType="com.anaysis.entity.CrmCustomer">
		SELECT
            iywdwid AS Id,
            cywdwbh AS cmNo,
            cdwmc AS cmName,
<!--            CASE-->
<!--                WHEN cdh = '' THEN clxr-->
<!--                ELSE CONCAT(clxr,':',cdh)-->
<!--            END-->
<!--             AS cmName,-->
            cjc AS cmShortname,
            cdwmc AS company,
            cdwdz AS addr
        FROM
            DZYWDW
        WHERE
            bkf = 1
        AND bghs = 0
        AND nstate = 0
	</select>
</mapper>
