<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vim.chatapi.staff.mapper.StaffLeaveMapper">
    <select id="startApplyLeave" resultType="com.vim.chatapi.staff.vo.ActsetFlowVO">
       SELECT b.real_name,b.avatar,yaf.* FROM yb_actset_flow yaf,blade_user b
       WHERE yaf.us_id = b.id  AND yaf.af_name=#{afName}
    </select>
    <select id="checkApplyLeave"  resultType="com.vim.chatapi.staff.vo.StaffLeaveVO">
        SELECT t1.*,t2.real_name FROM yb_staff_leave t1
        LEFT JOIN blade_user t2
        ON t1.us_id = t2.id
        WHERE 1 =1
        <if test="status==1">AND t1.status = 1</if>
        <if test="status==2">AND t1.status &lt;&gt; 1</if>
        AND t1.id IN
        (SELECT db_id FROM yb_staff_flow WHERE us_id = #{userId})
        ORDER BY create_at DESC
    </select>
    <select id="getStaffLeaves" resultType="com.vim.chatapi.staff.entity.StaffLeave">
        SELECT * FROM yb_staff_leave
        WHERE
        us_id = #{userId}
        <if test="status==1"> AND status = 1</if>
        <if test="status==2"> AND status &lt;&gt; 1</if>
        ORDER BY create_at DESC
    </select>
    <insert id="saveStaffLeave" parameterType="com.vim.chatapi.staff.entity.StaffLeave" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO yb_staff_leave
        (us_id,rectify_time,reasons,status,create_at)
        VALUES
        (#{usId},#{rectifyTime},#{reasons},#{status},#{createAt})
    </insert>
    <update id="updateStaffLeave" parameterType="com.vim.chatapi.staff.entity.StaffLeave">
        UPDATE yb_staff_leave  SET
        status = #{status},
        us_id = #{usId}
        WHERE id = #{id}

    </update>
    <select id="getStaffLeaveById" resultType="com.vim.chatapi.staff.vo.StaffLeaveVO">
        SELECT t1.*,t2.*,t3.dp_name,t4.result,t4.check_time, t5.ck_name AS userCKName FROM yb_staff_leave t1
        LEFT JOIN yb_workbatch_shiftinfo t2
        ON t1.us_id = t2.us_id
        LEFT JOIN yb_base_deptinfo t3
        ON t2.db_id = t3.p_id
        LEFT JOIN yb_staff_flow t4
		ON t1.id = t4.db_id
		LEFT JOIN yb_workbatch_shiftset t5
		ON t5.id = t2.ck_name
        WHERE t1.id=#{id}
    </select>

</mapper>
