<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vim.chatapi.staff.mapper.ActsetFlowMapper">
    <select id="startApplyLeave" resultType="com.vim.chatapi.staff.vo.ActsetFlowVO">
       SELECT b.real_name,b.avatar,yaf.* FROM yb_actset_flow yaf,blade_user b
       WHERE yaf.us_id = b.id  AND yaf.af_name=#{afName}
    </select>
</mapper>
