<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yb.exeset.mapper.ExesetFaultMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="exesetFaultResultMap" type="com.yb.exeset.entity.ExesetFault">
        <id column="id" property="id"/>
        <result column="ma_id" property="maId"/>
        <result column="limit_time" property="limitTime"/>
        <result column="disappear" property="disappear"/>
        <result column="popup" property="popup"/>
        <result column="sendto" property="sendto"/>
        <result column="create_at" property="createAt"/>
        <result column="us_id" property="usId"/>
        <result column="update_at" property="updateAt"/>
    </resultMap>


    <select id="selectExesetFaultPage" resultMap="exesetFaultResultMap">
        select * from yb_exeset_fault where is_deleted = 0
    </select>
    <select id="selectExesetFault" resultType="com.yb.exeset.entity.ExesetFault">
        select * from yb_exeset_fault where ma_id = #{maId}
    </select>

    <update id="updateFaultPoP" parameterType="com.yb.exeset.entity.ExesetFault">
        UPDATE yb_exeset_fault
        <set>
            <if test="limitTime!=null">limit_time =#{limitTime},</if>
            <if test="recedelayTime!=null">recedelay_time =#{recedelayTime},</if>
            <if test="disappear!=null">disappear =#{disappear}</if>
        </set>
        <where>
            <if test="maId!=null">
                AND ma_id =#{maId}
            </if>
        </where>
    </update>
</mapper>
