<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anaysis.mysqlmapper.BaseStaffinfoMapper">

    <select id="getByerpId" resultType="com.anaysis.entity.BaseStaffinfo">
        SELECT * FROM yb_base_staffinfo WHERE erp_id = #{erpId}
</select>
</mapper>
