<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anaysis.mysqlmapper.MachineMainfoMapper">

    <select id="getByerpId" resultType="com.anaysis.entity.MachineMainfo">
        select * from yb_machine_mainfo where erp_id = #{erpId}
    </select>
</mapper>
