<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anaysis.mysqlmapper.SaUserMapper">
    <select id="getUserById" resultType="com.anaysis.entity.SaUser">
     SELECT * from blade_user WHERE id =#{id}
    </select>

    <select id="getUserIdByerpId" resultType="java.lang.Integer" >
        SELECT id FROM blade_user WHERE erp_id = #{erpId}
    </select>
</mapper>
