<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yb.machine.mapper.MachineHardwclassifyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="machineHardwclassifyResultMap" type="com.yb.machine.entity.MachineHardwclassify">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="classify" property="classify"/>
        <result column="model" property="model"/>
        <result column="specs" property="specs"/>
        <result column="remark" property="remark"/>
        <result column="images" property="images"/>
        <result column="create_time" property="createTime"/>
    </resultMap>


    <select id="selectMachineHardwclassifyPage" resultMap="machineHardwclassifyResultMap">
        select * from yb_machine_hardwclassify where is_deleted = 0
    </select>

</mapper>
