<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yb.base.mapper.BaseStaffextMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseStaffextResultMap" type="com.yb.base.entity.BaseStaffext">
        <id column="ID" property="id"/>
        <result column="sf_id" property="sfId"/>
        <result column="sex" property="sex"/>
        <result column="education" property="education"/>
        <result column="birthday" property="birthday"/>
        <result column="idcard" property="idcard"/>
        <result column="idaddr" property="idaddr"/>
        <result column="hometown" property="hometown"/>
        <result column="curraddr" property="curraddr"/>
        <result column="create_at" property="createAt"/>
    </resultMap>


    <select id="selectBaseStaffextPage" resultMap="baseStaffextResultMap">
        select * from yb_base_staffext where is_deleted = 0
    </select>

    <select id="getIdcardIsExit" resultType="java.lang.Integer">
        select 1 from yb_base_staffext where idcard = #{Idcard} limit 1
    </select>
</mapper>
