<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yb.base.mapper.BaseStaffinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseStaffinfoResultMap" type="com.yb.base.entity.BaseStaffinfo">
        <id column="ID" property="id"/>
        <result column="name" property="name"/>
        <result column="jobnum" property="jobnum"/>
        <result column="phone" property="phone"/>
        <result column="dp_id" property="dpId"/>
        <result column="mold" property="mold"/>
        <result column="jobs" property="jobs"/>
        <result column="laborer" property="laborer"/>
        <result column="hire_time" property="hireTime"/>
        <result column="processes" property="processes"/>
        <result column="bc_id" property="bcId"/>
        <result column="is_used" property="isUsed"/>
        <result column="create_at" property="createAt"/>
        <result column="is_manage" property="isManage"/>
    </resultMap>


    <select id="selectBaseStaffinfoPage" resultMap="baseStaffinfoResultMap">
        select * from yb_base_staffinfo where is_deleted = 0
    </select>
    <select id="getLeaderByLeaderId" resultType="com.yb.base.vo.BaseStaffinfoVO">
        SELECT b.avatar,y.* FROM blade_user b INNER JOIN yb_base_staffinfo y ON b.id = y.user_id
        WHERE y.jobnum = #{jobNum}
    </select>
    <select id="getBaseStaffinfoByUsId" resultType="com.yb.base.vo.BaseStaffinfoVO">
        SELECT b.avatar,y.* FROM blade_user b INNER JOIN yb_base_staffinfo y ON b.id = y.user_id
        WHERE y.user_id = #{usId}
    </select>
    <select id="selectBaseStaffInfoAndBaseUser" resultType="com.yb.base.vo.BaseStaffinfoVO">
        SELECT staff.*,staffext.ID as extId,staffext.sex,staffext.education,staffext.birthday,staffext.idcard,staffext.idaddr,staffext.hometown,staffext.curraddr FROM yb_base_staffext staffext RIGHT JOIN yb_base_staffinfo staff ON staff.id = staffext.sf_id
        where 1=1
        <if test="baseStaffinfoVO.jobnum != null">
            and staff.jobnum LIKE CONCAT('%',#{baseStaffinfoVO.jobnum},'%')
        </if>
        <if test="baseStaffinfoVO.name != null">
            and staff.name LIKE CONCAT('%',#{baseStaffinfoVO.name},'%')
        </if>
        <if test="baseStaffinfoVO.idcard != null">
            and staffext.idcard LIKE CONCAT('%',#{baseStaffinfoVO.idcard},'%')
        </if>
    </select>
    <select id="getOneStaffInfo" resultType="com.yb.base.vo.BaseStaffinfoVO">
        SELECT staff.*,staffext.ID as extId,staffext.sex,staffext.education,staffext.birthday,staffext.idcard,staffext.idaddr,staffext.hometown,staffext.curraddr FROM yb_base_staffext staffext RIGHT JOIN yb_base_staffinfo staff ON staff.id = staffext.sf_id where staff.ID = #{id}
    </select>
    <update id="updateStaffInfoIsUsedById" parameterType="java.lang.Integer">
        update yb_base_staffinfo set is_used=0, user_id=null where ID = #{id}
    </update>

    <select id="getBaseStaffinfoVOByjobnum" resultType="com.yb.base.vo.BaseStaffinfoVO">
        select * from yb_base_staffinfo where jobnum = #{jobnum}
    </select>

    <select id="getJobnumIsExit" resultType="java.lang.Integer">
        select 1 from yb_base_staffinfo where jobnum = #{jobnum} limit 1
    </select>
    <select id="getProcessesSum" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM yb_base_staffinfo
        WHERE processes LIKE CONCAT('%',#{prId},'%')
    </select>

    <select id="getUserListByPdId" resultType="com.yb.base.vo.BaseStaffinfoVO">
        SELECT *,CONCAT(name,'--',jobnum) AS title,
        (CASE
        <if test="baseStaffinfoVO.bcId != null">
            WHEN bc_id = #{baseStaffinfoVO.bcId} THEN 'false'
        </if>
        WHEN bc_id IS NOT NULL THEN 'true' ELSE 'false' END
        ) AS disabled FROM yb_base_staffinfo
         WHERE is_used = 1 AND dp_id = #{baseStaffinfoVO.dpId} AND mold=#{baseStaffinfoVO.mold}
    </select>

    <update id="updateStaffInfoBcIdById" parameterType="java.lang.Integer">
        update yb_base_staffinfo set bc_id = #{bcId} where ID = #{id}
    </update>

    <select id="getNamesBybcId" resultType="java.lang.String">
        SELECT GROUP_CONCAT(name separator ',') names FROM yb_base_staffinfo where bc_id = #{bcId} and is_used =1 GROUP BY bc_id
    </select>

    <select id="getIdsBybcId" resultType="java.lang.String">
        SELECT GROUP_CONCAT(id separator ',') ids FROM yb_base_staffinfo where bc_id = #{bcId} and is_used =1 GROUP BY bc_id
    </select>

    <select id="getAllByBcId" resultType="com.yb.base.vo.BaseStaffinfoVO">
        SELECT staffinfo.*,classinfo.bc_name AS oldClass FROM yb_base_staffinfo staffinfo
        LEFT JOIN yb_base_classinfo classinfo
        ON staffinfo.bc_id = classinfo.id
        where staffinfo.bc_id = #{bcId} and staffinfo.is_used =1
    </select>

    <select id="getInUserByBcId" resultType="com.yb.base.vo.BaseStaffinfoVO">
        SELECT staffinfo.*,classinfo.bc_name AS oldClass, staffclass.start_date AS startDate, staffclass.end_date AS endDate  FROM yb_base_staffinfo staffinfo
        LEFT JOIN yb_base_classinfo classinfo
        ON staffinfo.bc_id = classinfo.id
        LEFT JOIN yb_base_staffclass staffclass
        ON staffinfo.user_id = staffclass.us_id
        WHERE staffclass.is_used = 1 AND staffinfo.user_id IN
        (
        SELECT us_id FROM yb_base_staffclass
        WHERE  is_used = 1
        AND bc_id = #{bcId}
        )
    </select>

<!--    #查询使用该班次的班组集合（查询所有处理调班人员以外的人员）-->
    <select id="getAllByWsId" resultType="com.yb.base.vo.BaseStaffinfoVO">
        SELECT staffinfo.*,dept.dp_name AS dpName FROM yb_base_staffinfo staffinfo
        JOIN yb_base_deptinfo dept
        ON dept.id = staffinfo.dp_id
        WHERE staffinfo.is_used = 1
        AND staffinfo.bc_id IN (
        SELECT id FROM yb_base_classinfo WHERE ws_id = #{wsId}
        )
        AND staffinfo.user_id NOT IN (
        SELECT us_id FROM yb_base_staffclass WHERE is_used = 1
        )
    </select>

<!--    #查询换组来执行这个班次的人员-->
    <select id="getStaffClassAllByWsId" resultType="com.yb.base.vo.BaseStaffinfoVO">
        SELECT staffinfo.*, staffclass.dp_name AS dpName, staffclass.dpId AS newDpId FROM
                (SELECT * FROM yb_base_staffinfo WHERE user_id IN(
                            SELECT us_id FROM yb_base_staffclass WHERE bc_id IN (
                                    SELECT id FROM yb_base_classinfo WHERE ws_id = #{wsId}
                                )
                                AND is_used = 1
                            )
                        ) staffinfo
                LEFT JOIN
                (SELECT staff.*,class.bc_name,dept.dp_name, dept.id AS dpId FROM yb_base_staffclass staff
                JOIN yb_base_classinfo class
                ON staff.bc_id = class.id
                JOIN yb_base_deptinfo dept
                ON dept.id = class.dp_id
                        WHERE staff.is_used = 1
                ) staffclass
                ON staffclass.us_id = staffinfo.user_id
        WHERE staffinfo.is_used = 1
    </select>

    <update id="updateStaffInfoBcIdBybcId" parameterType="java.lang.Integer">
        update yb_base_staffinfo set bc_id = #{bcId} where bc_id IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="updateStaffinfoDDid">
        UPDATE yb_base_staffinfo
        SET dd_id = #{userid}
        WHERE
        	user_id = (
        		SELECT
        			id
        		FROM
        			blade_user
        		WHERE
        			phone = #{mobile}
        	)
    </update>

    <update id="updateFeiShuIdByPhone">
        UPDATE yb_base_staffinfo
        <!--SET dd_id = #{openId}-->
        WHERE
        	user_id = (
        		SELECT
        			id
        		FROM
        			blade_user
        		WHERE
        			phone = #{mobile}
        	)
    </update>
</mapper>
