<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anaysis.fz.mapper.SuperviseIntervalMapper">

    <select id="getPreviousLog" resultType="com.anaysis.executSupervise.entity.SuperviseInterval">
        select *
        from yb_supervise_interval y
        where y.ma_id = #{maId}
          and y.update_at is null
        order by y.id desc
        limit 0,1
    </select>
</mapper>
