<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anaysis.sqlservermapper.XyOrderOrdinfoDao">
<!--    查询到前15天内-->
    <select id="list" resultType="com.anaysis.entity.OrderOrdinfo">
		SELECT
        DISTINCT
                        ttPrdct.ID AS Id,
                        ttPrdct.cCode AS odNo,
                        CONCAT(ttPrdct.cCode, '-', DZYWDW.cdwmc) AS odName,
                        ttPrdct.ID_Request AS pdId,
                        ttPrdct.iAmount AS odCount,
                        ttPrdct.dTime_Finish AS limitDate,
                        DZYWDW.iywdwid AS cmId,
                        DZYWDW.cjc AS cmShortname,
                        DZYWDW.cdwmc AS cmName,
                        ttPrdct.ID_Login,
                        *
        FROM    scProduct ttPrdct /*生产订单*/
                LEFT JOIN (
        SELECT  a.ID ,
                MIN(b.cCode) ccode_Order ,
                a.ID_AClientCode , --客户料号ID
                b.ID_Client ,   -- 客户ID
                Vers.cCode_CBill,
          0 AS iType
        FROM    scSaleOrder_Product a
                INNER JOIN scSaleOrder b ON a.ID_Order = b.ID
                INNER JOIN scSaleOrder_Vers_Product ttS_VP ON ttS_VP.ID_Vers = b.ID_Vers
                                                              AND ttS_VP.ID_Product = a.ID
                LEFT  JOIN scSaleOrder_Vers Vers ON Vers.ID_Order = b.ID
                                                    AND Vers.ID = ttS_VP.ID_Vers
         GROUP BY a.ID,a.ID_AClientCode,b.ID_Client,Vers.cCode_CBill
                          ) ttOrder ON ttPrdct.ID_Origin1 = ttOrder.id
               AND ttPrdct.iType_Origin = ttOrder.iType
                LEFT JOIN DZYWDW ON ttOrder.ID_Client = DZYWDW.iywdwid
        WHERE
         ttPrdct.iState IN (0, 1, 2, 5, 3)
        AND ttPrdct.dDate >= (getdate()-15)
	</select>

	<select id="listByOdNo" resultType="com.anaysis.entity.OrderOrdinfoVO">
		SELECT
            ID AS erpId,
            BDBH AS odName,
            BDBH AS odNo,
            0 AS odCount,
            KHID AS cmErp,
            KHMC AS cmShortname,
            KHMC AS cmName,
            ZDRID AS usErp,
            REMARK AS remark
        FROM
            DD_KHDD_M
        WHERE BDBH = #{odNo}
	</select>

    <select id="getProdClassify" resultType="com.anaysis.entity.ProdClassify">
        SELECT
            ID AS erpId,
            CPLB AS clName,
            ZLBM AS classify
         FROM Base_CPLB
    </select>

    <select id="getProdPdinfo" resultType="com.anaysis.entity.ProdPdinfoVO">
        SELECT
            ID AS erpId,
            CPMC AS pdName,
            CPBH AS pdNo,
            LBID AS pcErp,--类别id,LBBM类别编号 CPLB类别
            CASE
            WHEN SFZX = 0 THEN 1
            ELSE 0 END AS isUsed,
			GG AS pdSize
            FROM
                Base_CPZL
            WHERE CPBH = #{pdCode}
    </select>

    <select id="getProdPdinfoVO" resultType="com.anaysis.entity.ProdPartsinfoVO">
        SELECT
            a.ID AS Id,
            a.ID_Request AS pdId,
            a.cName AS ptName,
            a.cCode AS ptNo,
            a.ID_AComp AS IDAComp,
            a.ID_APComp AS IDAPComp
        FROM
            scAProduct_PBOM a
            INNER JOIN scAComp b ON a.ID_AComp = b.id
            LEFT JOIN scRemark c ON b.ID_Remark = c.ID
        WHERE
             a.ID_Request = #{pdId}
            AND a.ID_APComp = 0
    </select>

    <select id="getProdPartsinfo" resultType="com.anaysis.entity.ProdPartsinfoVO">
        SELECT
            DBZBJID AS erpId,
            BJGG AS ptSize,
        -- 	ptType,暂无
            DBZBJMC AS ptName,
        -- 	ptNo,暂无
            1 AS ptClassify,
            1 AS pdType
         FROM SC_SCSGD_D1_D1 WHERE CPBH = #{erpId}
    </select>

    <select id="getOneProdPartsinfo" resultType="com.anaysis.entity.ProdPartsinfoVO">
        SELECT
            DBZBJID AS erpId,
            BJGG AS ptSize,
        -- 	ptType,暂无
            DBZBJMC AS ptName,
        -- 	ptNo,暂无
            1 AS ptClassify,
            1 AS pdType
         FROM SC_SCSGD_D1_D1 WHERE CPID = #{erpId}  AND DBZBJID = #{partErp}
    </select>

    <select id="getMaterMtinfo" resultType="com.anaysis.entity.MaterMtinfoVO">
        SELECT
            ID AS erpId,
            WLMC AS mlName,--物料名称
            WLBM AS mlNo,--物料编号
            WLLBID AS mcErp,--分类id
						CASE
						WHEN WLBM = '00001' THEN 1
						WHEN WLBM LIKE '01%' THEN 1
						ELSE 2 END AS mold,
            CASE
            WHEN QXID = 236 THEN 1
            ELSE 2 END AS model,--待确定（由权限获取）
            PP AS brand,--品牌
            GG AS size,--规格
            SFZX AS isdel
            FROM
                Base_WLZL
    </select>

    <select id="getMaterClassify" resultType="com.anaysis.entity.MaterClassfiy">
        SELECT
            ID AS erpId,
        -- 	QXMC AS mcType,
            WLLB AS mcType, --类别名称
            WLLB AS mcName, --类别名称
            ZLBM AS mcNo--物料类别编号
            FROM
                Base_WLLB
    </select>

    <select id="getMaterProdlinkByAPComp" resultType="com.anaysis.entity.MaterProdlinkVO">
        SELECT
            DISTINCT
            a.WLID AS mtErp,
            a.GXID AS prErp,
            ISNULL(b.XQSL, ISNULL(a.GXJHS,0)) AS mtNum,
            ISNULL(a.GXJHS , 0) AS pdNum
        FROM SC_WWKHDDList_SCJH a
        LEFT JOIN SC_WWKHDDList_WLZL b ON b.PID=a.LYID AND a.WLID = b.WLID
        WHERE a.ID = #{erpId}
    </select>

    <select id="getMaterProdlinkByAPCompFL" resultType="com.anaysis.entity.MaterProdlinkVO">
        SELECT
            DISTINCT
            a.WLID_FL AS mtErp,
            a.GXID AS prErp,
            ISNULL(b.XQSL, ISNULL(a.GXJHS,0)) AS mtNum,
            ISNULL(a.GXJHS , 0) AS pdNum
        FROM SC_WWKHDDList_SCJH a
        JOIN SC_WWKHDDList_WLZL b ON b.PID=a.LYID AND a.WLID_FL = b.WLID
        WHERE a.ID = #{erpId}
    </select>


    <select id="getProdProcelink" resultType="com.anaysis.entity.ProdProcelinkVO">
        SELECT
        distinct
            GXID AS prErp,--GXBM 工序编号,GXMC 工序名称
            REMARK AS remarks,
            JFL AS wasteRate,--JFJS 加放基数（计算损耗方式，*损耗率+基数）
            0.0 AS diffLevel,
            0 AS sortNum,
            1 AS isUsed,
            SYLB AS lb,
            PXH
        FROM SC_SCSGD_D1_D1_D1 WHERE BJID = #{erpId} ORDER BY SYLB, PXH
    </select>

    <select id="getOrderWorkbatch" resultType="com.anaysis.entity.OrderWorkbatchVO">
        SELECT
            M.ID AS erpId,
            D.DDBH AS odNo,
            M.BDBH AS batchNo,
            D.SCSL AS planNum,
            1 AS status,--状态
            M.ZDRID AS usErp,
            D.JHRQ AS closeTime
        FROM
            SC_SCSGD_M M
        JOIN SC_SCSGD_D1 D ON M.ID = D.PID
        WHERE M.BDBH = #{wbNo}
    </select>

    <select id="getMaterBatchlink" resultType="com.anaysis.entity.MaterBatchlink">
        SELECT A.*
        FROM SC_WWKHDDList_WLZL A,SC_WWKHDDList_SCJH B
        WHERE A.PID=B.LYID
        AND B.ID = #{erpId}
    </select>
<!--    GXBM 工序编号,GXMC 工序名称JFJS 加放基数（计算损耗方式，*损耗率+基数）-->
    <select id="getlinkW" resultType="com.anaysis.entity.ProdProcelinkVO">
        SELECT
            GXID AS prErp,
            REMARK AS remarks,
            0 AS wasteRate,
            0 AS diffLevel,
            0 AS sortNum,
            1 AS isUsed,
            pxh AS sortNum
        FROM SC_WWKHDDList_SCJH with(updlock) WHERE SCDH = #{wbNo} AND SCDHBJID = ''
        ORDER by pxh
        OPTION(MAXDOP 1)
    </select>
<!--    GXBM 工序编号,GXMC 工序名称JFJS 加放基数（计算损耗方式，*损耗率+基数）-->
    <select id="getlinkY" resultType="com.anaysis.entity.ProdProcelinkVO">
        SELECT
            GXID AS prErp,
            REMARK AS remarks,
            0 AS wasteRate,
            0 AS diffLevel,
            0 AS sortNum,
            1 AS isUsed,
            pxh AS sortNum
        FROM SC_yWKHDDList_SCJH with(updlock) WHERE SCDH = #{wbNo} AND SCDHBJID = ''
        ORDER by pxh
        OPTION(MAXDOP 1)
    </select>
<!--查询产品对应的工序-->
    <select id="getPdw" resultType="java.lang.Integer">
        SELECT
            count(*)
        FROM SC_WWKHDDList_SCJH WHERE SCDH = #{wbNo} AND SCDHBJID = ''
    </select>
    <!--查询产品对应的工序-->
    <select id="getPdy" resultType="java.lang.Integer">
        SELECT
            count(*)
        FROM SC_YWKHDDList_SCJH WHERE SCDH = #{wbNo} AND SCDHBJID = ''
    </select>
    <select id="getMaterProdlinkByPd" resultType="com.anaysis.entity.MaterProdlinkVO">
        SELECT
            DISTINCT
            a.WLID AS mtErp,
            ISNULL(b.XQSL, ISNULL(a.GXJHS,0)) AS mtNum,
            ISNULL(a.GXJHS , 0) AS pdNum
        FROM SC_WWKHDDList_SCJH a
        LEFT JOIN SC_WWKHDDList_WLZL b ON b.PID=a.LYID AND a.WLID = b.WLID
        WHERE a.SCDH = #{wbNo} AND a.SCDHBJID = ''  AND a.WLID IS NOT NULL
    </select>

    <select id="getMaterProdlinkByPdFL" resultType="com.anaysis.entity.MaterProdlinkVO">
        SELECT
            DISTINCT
            a.WLID_FL AS mtErp,
            ISNULL(b.XQSL, ISNULL(a.GXJHS,0)) AS mtNum,
            ISNULL(a.GXJHS , 0) AS pdNum
        FROM SC_WWKHDDList_SCJH a
        JOIN SC_WWKHDDList_WLZL b ON b.PID=a.LYID AND a.WLID_FL = b.WLID
        WHERE a.SCDH = #{wbNo} AND a.SCDHBJID = ''  AND a.WLID_FL IS NOT NULL
    </select>

<select id="getPartBySCDHBJID" resultType="com.anaysis.entity.ProdPartsinfoVO">
        SELECT
            DBZBJID AS erpId,
            BJGG AS ptSize,
        -- 	ptType,暂无
            DBZBJMC AS ptName,
        -- 	ptNo,暂无
            1 AS ptClassify,
            1 AS pdType
         FROM SC_SCSGD_D1_D1 WHERE ID = #{SCDHBJID}
    </select>
    <select id="getFinalTime" resultType="java.lang.String">
        SELECT TOP 1 CONVERT(varchar(100), d.SYRQ , 23)FROM KC_CPCRKSQ_m m
        left JOIN KC_CPCRKSQ_D d ON m.ID = d.PID
        WHERE d.DDBH
        = #{DDBH} AND d.SCDBH = #{SCDBH}
        AND d.KHDDH = #{KHDDH} --SC_WWKHDDList_SCJH表存在字段DDBH,SCDH,KHDDH
        ORDER BY m.ZDRQ DESC
    </select>
</mapper>
