<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anaysis.sqlservermapper.XySaUserMapper">
    <select id="list" resultType="com.anaysis.entity.SaUser">
            SELECT
            a.ID AS erpId,
            a.XM AS name,
            a.XM AS realname,
            c.UserName AS account,
            (CASE a.XB WHEN '男' THEN 1 WHEN '女' THEN 0 END) as sex,
<!--            b.PID AS bcId,&#45;&#45;班组id-->
            b.BMID AS dpId, -- 部门id
            CASE
            WHEN ISNULL(a.SFZX,0) = 0 THEN 1
            ELSE 0 END AS isUsed
        FROM
            Base_YGDA a
        LEFT JOIN RS_BZSD_D b ON a.ID = b.YGID
        LEFT JOIN Accounts_Users c ON a.ID = c.YGID
        WHERE a.SFZX = 0
    </select>

    <select id="getUserList" resultType="com.anaysis.entity.SaUser">
         SELECT
            a.ID AS erpId,
<!--            a.GKH AS jobNum,-->
            a.XM AS name,
            a.XM AS realname,
            a.CSRQ AS birthday,
            a.LXDH AS phone,
            a.GKH AS account,
<!--            c.UserName AS account,-->
            (CASE a.XB WHEN '男' THEN 1 WHEN '女' THEN 0 END) as sex,
<!--            b.PID AS bcId,&#45;&#45;班组id-->
            b.BMID AS dpErp, --部门id
            a.SFZX AS isDeleted
        FROM
            Base_YGDA a
        LEFT JOIN RS_BZSD_D b ON a.ID = b.YGID
<!--        LEFT JOIN Accounts_Users c ON a.ID = c.YGID-->
        WHERE a.SFZX = 0
    </select>
</mapper>
